* {
    padding: 0;
    font-family: Comic Sans MS, Comic Sans ,serif;
    font-weight: lighter;
}
body , html,.app ,#reactHere{
    text-align: center;
    margin:0;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px 0px #f7bdff;
    background: linear-gradient(50deg, #ffffff 1.18%, #ffe9fa 90%);

}
.scoreBoard{
    display: flex;
    justify-content: center;
    height: 65px;
}
.scoreBoard> h4{
    margin-left:50px;
    margin-right: 50px;
}

.nbrPairsChoose{
    display: inline-flex;
}
.nbrPairsChoose > div{

    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nbrPairsChoose > div >div{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.nbrPairsChoose > div >div:hover{
    width: 150px;
    height: 150px;
    transition: all 0.3s ease-in-out;
    border-radius: 100%;
    color: rgb(245, 255, 220);
}
.nbrPairsChoose > div >div>span{
    font-size: 40px;
}
.nbrPairsChooseBoard > .test >span{
    margin: 55px;
    
}

.nbrPairs--hard {
    background-color: rgb(255, 0, 0);
}
.nbrPairs--medium{
    background-color: rgb(255, 255, 0);
}
.nbrPairs--easy{
    background-color: rgb(0, 255, 0);
}

.memory{
    height: 82%; 
    height: max-content;
    width: max-content;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;

    
}
.cardBoard{
    min-width: 500px;
    max-width: 1000px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;

    padding: 10px;

}

.card{

    height: 100px;
    width: 100px;
    margin: 10px;
}
.card img:hover{
    height: 115%;
    width: 115%;
    border-radius: 10px;
    transition: all 0.3s ease;


}
.card img{
    width: 100%;
    height: 100%; 
    border-radius: 10px;  
    transition: all 0.8s ease;
}
.back{
    width: 50px;
    background-color: aqua;
}
